.primary-button {
  padding: 0 32px;
  height: 40px;
  min-width: 40px;
  border-radius: 6px;
  border-style: none;
  font-family: $body-font-family, "Times New Roman", Times, serif;
  font-weight: 600;
  color: $light-font-color;
  background-color: $accent-danger;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
