#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
  background: white;
  color: #262626;
  border-radius: 0.25rem;

  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 5px 8px #c9c7c7);
  span {
    display: inline-block;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(223, 223, 223, 0.7);
    }
  }
}
