@mixin bodyFont($size, $weight, $color) {
  font-family: "proxima-nova";
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin headingFont($size, $weight, $color) {
  font-family: "merriweather";
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
