@import "@/scss/_mixin";

.post-news-wrapper {
  padding: 120px 120px;
  width: 100%;
  box-sizing: border-box;
}

.post-title-wrapper {
  width: 100%;
  display: flex;
  #post-title {
    width: 100%;
    line-height: 1.5;
    height: calc(1.5 * 40px + 4px);
    resize: none;
    @include headingFont(40px, 800, $dark-font-color);
    background-color: none;
    border: none;
    &::placeholder {
      color: $grey-font-color;
    }
    &:focus {
      outline: none;
      background-color: none;
    }
  }
}

.post-description-wrapper {
  width: 100%;
  #post-description {
    width: 100%;
    height: fit-content;
    white-space: wrap;
    line-height: 1.5;
    height: 34px;
    resize: none;
    margin: 6px 0;
    @include headingFont(20px, 400, $dark-font-color);
    border: none;
    &::placeholder {
      color: $grey-font-color;
    }
    &:focus {
      outline: none;
      background-color: none;
    }
  }
  .post-description {
    width: 100%;
    height: fit-content;
    white-space: wrap;
    line-height: 1.5;
    overflow: hidden;
    display: block;
    height: 34px;
    resize: none;
    @include headingFont(20px, 400, $dark-font-color);
    border: none;
    &::placeholder {
      color: $grey-font-color;
    }
    &:focus {
      outline: none;
      background-color: none;
    }
  }
}
